html,body {
  padding : 0;
  margin  : 0;
  font-family : arial, sans-serif;
}
header{
  height : 40px;
  background-color : #eee;
  border-bottom : solid 1pt grey;
  margin : 0;
  margin-bottom : 10px;
  padding : 2pt;
}
header h1{
  margin : 1pt;
}
section#main{
  position:relative;
  margin-top:20px;

}
#choix {
  position : absolute;
  top : 0; left : 0;
  margin : 0;
  background : lightyellow;
  padding : 15px;
  max-height : 300px;
  max-width : 250px;
  margin-top: 5%;
}
#carte {
  position : absolute;
  top : 130px; left : 0px;
  width : 280px;
  height : 300px;
  margin-top: 13%;
}

ul#liste_communes {
  position : absolute;
  top: 0px; left : 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
ul#liste_communes>li{
  list-style: none;
}
ul#liste_communes>li:hover{
  background-color : #eee;  
}
#details{
  position : absolute;
  top : 450px; left: 0; right : 0;
  min-height : 300px;
  margin-top: 15%;

}
footer {
  margin-top : 20px;
  padding : 15px;
}
img.avatar {
  max-height : 130px;
  max-width : 130px;
  margin-top : 15px;
  margin-right : 30px;
}
#details div.map{
  position : absolute;
  right : 0; bottom : 0;
  width : 500px;
  height : 300px;
}